/* globals */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: "Open Sans", Arial, sans-serif !important;
  font-size: 12px;
}

/* width-utils */
.max-width-100ch {
  width: min(95%, 100ch);
}

.width-all {
  width: 100%;
}

/*  flex utils */
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-col {
  display: flex;
}

.align-center-vertically {
  align-items: center;
}

.align-self-end {
  align-self: flex-end;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

/* spacing utils */
.center-content {
  margin-left: auto;
  margin-right: auto;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mt-auto {
  margin-top: auto;
  margin-bottom: 0;
}

.p-1 {
  padding: 1rem;
}

/* colors */
/* TODO: переопределить через переменные */
.color-primary {
  color: #2791d9;
}

.color-primary-dark {
  color: #1e6fa6;
}

.color-secondary {
  color: #ffffff;
}

.color-disabled {
  color: #ededed;
}

.color-black {
  color: #1a1f29;
}

.color-black-alt {
  color: #76797f;
}

.bg-color-main {
  background: #f5f5f5;
}

.bg-color-alt {
  background: #dddddd;
}

.bg-color-primary {
  background: #2791d9;
}

.bg-color-disabled {
  background: #ededed;
}
.bg-color-disabled-dark {
  background: #b2b3b5;
}
