/* colors */
html {
  --color-primary: #2791d9;
  --color-primary-dark: #1e6fa6;
  --color-secondary: #ffffff;
  --color-secondary-darker: #f5f5f5;
  --color-disabled: #ededed;
  --color-black: #1a1f29;
  --color-black-alt: #76797f;
  --color-danger: #ff5722;
  --color-warning: #f0b502;
  --color-success: #4caf50;
  --bg-color: #ffffff;
  --bg-color-dark: var(--color-secondary-darker);
  --bg-color-darker: var(--color-disabled);
  --bg-color-primary: var(--color-primary);
}
