@import url("colors.css");

/* globals */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: "Open Sans", Arial, sans-serif !important;
  font-size: 12px;
  color: #1a1f29;
}

button {
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

button:hover {
  filter: brightness(0.9);
}

a {
  color: #2791d9;
  text-decoration: none;
}

a:hover {
  color: #2791d9;
  text-decoration: underline;
}

/* 
ELEMENTS 
*/

/* layout */

.col {
  padding: 1rem;
  flex-direction: column;
}

/* cards */
.card-container {
  width: 380px;
  height: 280px;
}

.card-container-no-height {
  width: 380px;
}

.card-half-width {
  width: 190px;
}

.card-title {
  width: 100%;
  font-size: 20px;
}

/* nav buttons for cards (< >) */
.card-arrow {
  position: absolute;
  top: 45%;
}

.card-arrow-left {
  left: 5%;
}

.card-arrow-right {
  right: 5%;
}

/* position hack for company logo in Marketing Programs :( */
.marketing-programs-logo {
  position: relative;
  left: 2rem;
}

/* forms */
input,
select {
  border-radius: 2px;
  border: 1px solid var(--color-disabled);
}

input:focus,
input:active,
input:hover,
select:focus,
select:active,
select:hover {
  border: 1px solid var(--color-primary);
  outline: none;
}

input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

.clickable-label {
  cursor: pointer;
}

.input-with-right-btn {
  border-right: none;
  border-radius: 2px 0 0 2px;
}

.input-with-right-btn:focus {
  border-right: none;
}

.input-btn-no-left-border {
  border-radius: 0 2px 2px 0;
  border-left: none;
}

/* special navbar list style */
.navbar-links-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links-list li {
  display: inline-block;
  margin: auto 0.5rem;
}

/* chat widget */
.chat-widget-container {
  position: absolute;
  bottom: 0;
  right: 10rem;
}

/* 
UTILS 
*/

/* width utils */
.max-width-100ch {
  width: min(95%, 200ch);
}

.width-full {
  width: 100%;
}

.width-half {
  width: 50%;
}

/* height utils */
.height-full {
  height: 100%;
}

.height-2 {
  height: 2rem;
}

/* positioning utils */
.inline-block {
  display: inline-block;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.abs-vertical-centered {
  top: 45%;
}

.abs-left {
  left: 5%;
}

.abs-right {
  right: 5%;
}

.float-right {
  float: right;
}

.layer-background {
  z-index: 0;
}

.layer-1 {
  z-index: 100;
}

.layer-2 {
  z-index: 200;
}

/*  flex utils */
.flex {
  display: flex;
  /* flex-wrap: wrap; */
}

.align-items-center {
  align-items: center;
}

.align-self-end {
  align-self: flex-end;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

/* spacing utils */
.center-content {
  margin-left: auto;
  margin-right: auto;
}

.m-0 {
  margin: 0;
}

.mx-05 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.mr-05 {
  margin-right: 0.5rem;
}

.mr-1 {
  margin-right: 1rem;
}

.my-05 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mt-auto {
  margin-top: auto;
  margin-bottom: 0;
}

.mt-2 {
  margin-top: 2;
}

.mb-1 {
  margin-bottom: 1rem;
}

.p-1 {
  padding: 1rem;
}

.p-05 {
  padding: 0.5rem;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

/* text */
.text-lg {
  font-size: 15px;
}

.text-xlg {
  font-size: 20px;
}

.text-sm {
  font-size: 11px;
}

.text-xsm {
  font-size: 8px;
}

/* borders */
.border-none {
  border: none;
}

.border-1 {
  border: 1px solid;
}

.border-bottom-1 {
  border-bottom: 1px solid;
}

.border-radius {
  border-radius: 2px;
}

.border-color-main {
  border-color: var(--color-disabled);
}

/* shadows */
.shadow-outer {
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.shadow-inner {
  box-shadow: var(--color-secondary-darker);
}

/* icons */
.icon:hover {
  cursor: pointer;
  color: #76797f;
}

.icon-small {
  font-size: 18px;
}

.icon-large {
  font-size: 26px;
}

.icon-xlarge {
  font-size: 34pxrem;
}

.color-primary {
  color: var(--color-primary);
}

.color-primary-dark {
  color: var(--color-primary-dark);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-disabled {
  color: var(--color-disabled);
}

.color-black {
  color: var(--color-black);
}

.color-black-alt {
  color: var(--color-black-alt);
}

.color-danger {
  color: var(--color-danger);
}

.color-success {
  color: var(--color-success);
}

.bg-color-main {
  background-color: var(--bg-color);
}

.bg-color-dark {
  background-color: var(--bg-color-dark);
}

.bg-color-alt {
  background-color: var(--bg-color-dark);
}

.bg-color-alt-dark {
  background-color: var(--bg-color-darker);
}

.bg-color-primary {
  background-color: var(--bg-color-primary);
}

.bg-color-disabled {
  background-color: var(--bg-color-dark);
}
.bg-color-disabled-dark {
  background-color: var(--bg-color-darker);
}

/* ANIMATIONS & TRANSITIONS */

html * {
  transition: color 0.5s, background-color 0.5s;
}
